{% extends "layout.html" %}
{% block body %}

<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/background.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            
            <h1>Electrical Load Prediction</h1>
            <!-- <span class="subheading">Location : Spain</span> -->
            <h3>Using Machine Learning</h3>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Body 
  <div class = "prediction">
    <form action="{{ url_for('predict')}}"method="post"></form>
    <input type="text" name="Date" placeholder="Date" required="required" />
    <P>---</P>
    
    <button type="submit" class="btn btn-primary" id="sendMessageButton">Predict</button>
    
    {{ prediction_text }}
  </div> -->

  <!-- Main Input For Receiving Query to our ML -->

  <!-- <div class = prediction>
    <p>Example of Date Format : 2015-01-02 05:00:00
    </p>
  </div>
  <div class = "prediction">
    <form action="{{ url_for('predict')}}"method="post">
      
      <input type="text" name="Date" placeholder="Enter Date.." required="required" />
      

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      
    </form>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a>
            
            <h2 class="post-title">
              
              Steps:
        
            </h2>
           
            <h3 class="post-subtitle">
              1. Enter the Date in the specified format
            </h3>
            <h3 class="post-subtitle">
              2. Enter the Temperature in °C
            </h3>
            <h3 class="post-subtitle">
              3. Click on Predict
            </h3>
            


          </a>
        </div>
      </div>
    </div>
  </div>


  <div class = "prediction">
    <form action="{{ url_for('predict')}}"method="post">
      
      <p>Date Format : (yyyy-mm-dd)
      </p>
      <input type="text" name='Date' placeholder="Enter Date.." class="btn btn-large btn-block" name="Date" placeholder="Enter Date.." required="required" />

      <input type="text" name='Temperature' placeholder="Enter Temperature in °C" class="btn btn-large btn-block" name="Temperature"  required="required" />
      

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      
    </form>
  </div>
  

  <!-- <div class = "prediction">
    
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Steps :</p>
        <P>1. Enter the Date in the specified format</P>
        <P>2. Click on Predict </P>
        <p>3. To see the output, click on the "Link for Table"</p>
      </div>
    </div>

    <li class="nav-item">
      <a class="nav-link" href="/table">Link for Table</a>
    </li>

    <!-- {{ prediction_text }} --> 


      
    <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        

        


        

        

        <!-- Pager -->
        
      </div>
    </div>
  </div>

  
    

    

  </div>
  

{% endblock %}

  
